.pagination-custom{
  float: left;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;

}

.page-numbers {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.page-numbers>li{
  margin: 5px;
  border: 1px solid #088A08;
  padding: 10px;
  width: 40px;
  text-align: center;
}
.page-numbers > li:not(.active):hover {
  background: #088A08;
  color: white;
  cursor: pointer;
}
.page-numbers > li.active {
  border-color: grey;
  color: white;
  background: #088A08;
  cursor: default;
}