.slider_article>div>i {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 3px;
    display: inline-block
}
.slider_article>b {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 3px;
    display: inline-block
}