.source{
    bottom: 0; 
    position: absolute;
    width: 100%;
    height: auto;
    padding-right: 8px;
    background-color: #ffff;
}

.source> i{
    float: left; 
}
.summary{
    height: 160px;
    list-style-type: disc;
    overflow: hidden;
}
.summary:hover{
    overflow: scroll;
}
.source>span{
    float: right;
    padding-right: 10px;
}