.modal1 {
    font-size: 12px;
    background-color: #ffffff;
    width: 1000px;
  }
  .modal1 > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal1 > .content {
    width: 100%;
    padding: 10px 5px;
    overflow: hidden;
  }
  .modal1 > .actions {
    margin: auto;
  }
  .modal1 > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modal1 > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .labelsource{
    height: 500px;
  }
  .labelsummary{
    height: 200px;
  }
  .textInput{
      width: 100%;
      height: 500px;
      font-size: 12pt
  }
  .textSummary{
    width: 100%;
    height: 200px;
    font-size: 12pt
  }
  .summarize{
    margin: 0 auto;
    width: max-content;
  }